.border_all {
    width: 250px;
    height: 250px;
}
.c_project_courses__outer {
    width: calc(100%);
    position: relative;
    margin: 20px;
    z-index: 1;
    transition: all .2s ease;
     width: 200px;
    height: 260px; 
}


/* .c_project_courses__outer:hover {
    width: calc(100%);
    position: relative;
    margin: 20px;
    z-index: 1;
    transition: all .2s ease;
     width: 250px;
    height: 280px; 
} */


.icon_next_mysubject {
    background-image: url("../community/icon/next-mysubject.svg");
    background-repeat: no-repeat;
    background-position: center center;
    align-self: center;

    width: 22px;
    height: 22px;
    background-size: cover;
    display: inline-block
}

.icon_next_mysubject:hover {
    background-image: url("../community/icon/next-mysubject2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    align-self: center;
    
    width: 22px;
    height: 22px;
    background-size: cover;
    display: inline-block
}
.icon_delete_sprite{

    background-image: url("../community/icon_bin2.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    background-size: cover;
    align-self: center;
    display: inline-block

}

.icon_delete_sprite:hover{

    background-image: url("../community/icon_bin.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    background-size: cover;
    align-self: center;
    display: inline-block

}

.c_is_project {
    position: relative;
    z-index: 1;
    padding-top: 80%;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px
}

.c_is_project_img {
   
/* 
    width: 200px;
    height:180px; */
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    border-color: gray;
    border-width: 2px;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 10px;
}

.c_project_courses_before{
    position: absolute;
    z-index: -1;
    /* background-image: url("../community/background-subject.png"); */
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    content: "";
    width: 100%;
    padding-top: 0;
    /* height: 230px; */
    background-repeat: no-repeat;
    background-size: 200px 150px;
    background-position: bottom center;
    transition: all .2s ease;
    filter: drop-shadow(10px 30px 30px rgba(177, 188, 199, 0.15))
}

.c_project_courses_before:hover{
    position: absolute;
    z-index: -1;
    /* background-image: url("../community/background-hover.png"); */
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    content: "";
    width: 100%;
    padding-top: 0;
    /* height: 230px; */
    background-repeat: no-repeat;
    background-size: 242px 209px;
    background-position: bottom center;
    transition: all .2s ease;
    filter: drop-shadow(10px 30px 30px rgba(177, 188, 199, 0.15))
}
.c_titlebox_project  {
    display: flex;
    margin-top: -20px;
    align-items: center;
     padding-bottom: 5px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    margin-right: 00px;

}

.c_titlebox_project__left  {
    display: block;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 100%;

}
.c_titlebox_project__right  {
    /* margin-left: auto; */
    flex-direction: row;    
    margin-right: 10px;
    display: flex;
    justify-content: right;
    font-size: 12px
}

.c_project_courses__outer_c_setting_hover {
    position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    transition: all .2s ease;
    /* background-image: url("../community/background-subject.png"); */
}